ARI_BASE_URL=http://asterisk:8088/ari
ARI_USERNAME=arm_voip
ARI_PASSWORD=CHANGE_ME
ARI_APP_NAME=arm_voip

VOIP_DIALPLAN_CONTEXT=arm112
VOIP_DESTINATION=1001
VOIP_RING_TIMEOUT_SEC=30
ARI_TIMEOUT_SEC=5

ARM_VOIP_SERVICE_TOKEN=CHANGE_ME