# * если поле не имеет значения, будет использовано значение DEFAULT
# * если поле помечено как REQUIRED, оно обязательно для указания 
#   (без него проект не запустится!)
# * для булевых полей допустимы значения: 0, 1, true, false, yes, no, on, off

# REQUIRED
SECRET_KEY=CHANGE_ME_FOR_FUCKS_SAKE_ITS_REALLY_IMPORTANT

# -- database

# NO DEFAULTS! CHANGE THIS
POSTGRES_DB=CHANGE_ME
POSTGRES_USER=CHANGE_ME
POSTGRES_PASSWORD=CHANGE_ME

# DEFAULT: 20
DB_POOL_SIZE=20
# DEFAULT: 20
DB_MAX_OVERFLOW=20

# -- JWT ; authentication

# DEFAULT: arm112-trainer
JWT_ISSUER=arm112-trainer
# DEFAULT: 900
ACCESS_TOKEN_TTL_SEC=900
# DEFAULT: 43200
REFRESH_TOKEN_TTL_SEC=43200
# DEFAULT: 300
MFA_TOKEN_TTL_SEC=300
# DEFAULT: 5
MAX_FAILED_LOGINS=5

# -- training

# DEFAULT: 30
DEFAULT_TIME_LIMIT_SEC=30
# DEFAULT: 70
DEFAULT_PASS_SCORE=70
# DEFAULT: 190
AUDIT_RETENTION_DAYS=190

# -- pagination ; upload

# DEFAULT: 200
MAX_PAGE_SIZE=200
# DEFAULT: 50
DEFAULT_PAGE_SIZE=50
# DEFAULT: 64
MAX_UPLOAD_MB=64

# -- storage ; backups

# DEFAULT: /var/lib/arm112/materials
MATERIALS_DIR=/var/lib/arm112/materials
# DEFAULT: /var/lib/arm112/reports
REPORTS_DIR=/var/lib/arm112/reports

# DEFAULT: /var/lib/arm112/backups
BACKUPS_DIR=/var/lib/arm112/backups
# DEFAULT: 3
BACKUP_HOUR_UTC=3

# -- VoIP [сервис arm_voip]

# DEFAULT: 0
VOIP_ENABLED=0
# [IF VOIP ENABLED] REQUIRED
# [внутри docker-сети - имя контейнера]
ARM_VOIP_BASE_URL=http://arm_voip:8001
# [ARM_VOIP_SERVICE_TOKEN <- arm_voip]
ARM_VOIP_SERVICE_TOKEN=CHANGE_ME
# DEFAULT: 150
VOIP_MAX_LATENCY_MS=150

# -- CORS

# REQUIRED
CORS_ORIGINS=CHANGE_ME

# -- API

# DEFAULT: /api/v1
API_PREFIX=/api/v1